@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0; 
}
div#centro{
    width: 900px;
    height: 100px;
    padding-top: 40px;
    
}
div#vacio{
    width: 100%;
    height: 700px; 
    position:relative; 
    
    
}

div#letra{
    width: 80%;
    height: 107px;
    background-color: transparent;
    
}

div#contenedor{
    width: 100%;
    height: 690px;
    background-color:white;
    
} 

div#body{
margin: auto;
width:960px ;
height:680px ;



}

div#columna{
padding-top: 60px; 
width:480px ;
height:130px ;
background-color:white;
float: left;

}


div#columna3{
padding-top: 60px;
width:480px ; 
height:130px ;
background-color:white;
float: right;
}
img{
    padding-right: 30px;
    padding-left: 20px;
    
}
img#icono{
   padding-top: 25px; 
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 25px;
    
}

div#columna2{
width:960px ;
height:113px ;
background-color:white;
float: left;

}

div#direccion{
width:480px ;
height:170px ;
background-color:white;
float: left;

}
div#horario{
width:480px ;
height:170px ;
background-color:white;
float: right;

}



p{
    font-family:helvetica ;
    color: black;
    font-size: medium;
    
}
h1{
    text-align: center;
    font-family: arial;
    color: black;
    font-size: 40px;
}

h2{
    text-align: center;
    font-family: arial;
    color: black; 
}
h3{
    text-align: center;
    font-family:helvetica;  
    color:white;
}
body{  
  background-image: url(../Imagenes/hobbit.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-x: hidden;
  -webkit-animation: animacion 50s infinite alternate; //la solucion ara que no se vea recargando es poner varias 
  
}

@-webkit-keyframes animacion{
            0%{background-color: white;}
            1%{background-image: url(../Imagenes/hobbit.jpg)}
            25%{background-image: url(../Imagenes/guardianes.jpg)}
            50%{background-image: url(../Imagenes/fredy-jason.jpg)}
            70%{background-image: url(../Imagenes/inter.jpg)}
            85%{background-image: url(../Imagenes/batman.jpg)}
            100%{background-image: url(../Imagenes/avengers.jpg)} 

        }
        
header {
    
    margin-top:0px;  
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
    padding: 20px;
    float: left;
}

nav {
    //top:-20px;
    position: relative;
    left:0;
    right:0;
    margin:20px auto;
    max-width:1000px;
    width:100%;
    padding: 5px;
    
}

nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	width:100%;
	background:black;
	position: relative;
}

nav > ul li {
	display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
        color:white;
	display:block;
	position: absolute;
	background:black;
	left:0;
	right:0;
	height:0%;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:19px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
	background:#A6D892;
}

nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	left:0px;
	position:absolute;
	top:-55px;
	width:100%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon {
	display:block;
	line-height:100%;
}

nav > ul > li > a:hover > span {
	top:0;
}

/*Colores*/
nav ul li a .primero {
	background:#0E5061;
}

nav ul li a .segundo {
	background:#24F366;
}

nav ul li a .tercero {
	background:#E93648;
}

nav ul li a .cuarto {
	background:#174459;
}

nav ul li a .quinto {
	background:#A26CBC;
}

nav ul li a .sexto {
	background:#B2D201;
}



@media screen and (max-width:600px) {
	body {
		background:#ff8000;
	}

	nav > ul > li > a span {
		top:0;
		height:100%;
	}

        nav > ul > li > ul {
            height:100%;
        }

        
}






  
  
  